

.Reservation-component {
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
}

.ReservationContainer{
    margin-top: rem;
}
.mainStackUser{
    margin-top: 1.5rem;
}
.mainStackStaff{
    margin-top: 1.5rem;
}

